// put all your site styles here, executing 'gulp' will start a file watcher and compile your files.


body {
  background: white;
  color: black;
}

.row {
  min-height: 100px;
}

.column, .columns {
  border: 2px solid black;
  min-height: 80px;
}